* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 30px 0;
  padding: 20px;
  margin-left: 8%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
}
#particular {
  position: absolute;
  z-index: -1;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
}
.icons {
  position: relative;
  right: 9%;
  margin-left: 5%;
}
.icon-bar {
  margin-left: 20px;
}

.navbar {
  font: 15px;
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 25%;
  width: 20%;
  background-color: rgb(1, 1, 12);
  z-index: 1000;
  height: 750px;
}
.content h2 {
  color: #5d6280;
}
.details strong {
  color: #5d6280;
}
.content-nav {
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.name {
  padding-right: 10px;
}
.img-name {
  margin-left: 50px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
}
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
#img1 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: 25%;
  border-radius: 50%;
  border: 10px #817f94;
}
.som {
  color: white;
}
#social-link {
  margin-left: 50px;
}
.social_links .fa-solid {
  padding: 1%;
  margin-left: -15%;
  font: 15px;
}
#foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .content {
  width: 50%;
}
#image1 {
  width: 39%;
  height: 39%;
  border-radius: 50%;
  display: block;
  margin-left: 25%;
  border-radius: 100%;
  border: 10px #211b43;
}
h1 {
  display: flex;
  justify-content: center;
  color: #5d6280;
  font-family: "Kaushan Script", cursive;
}
#head1 {
  color: #5d6280;
  position: relative;
  left: 12%;
  font-size: large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Kaushan Script", cursive;
}
.icon-bar a {
  font-family: "Times New Roman", Times, serif;
  margin-right: 20px;
  /* margin-right: 22%; */
  display: block;
  text-align: start;
  padding: 8px;
  color: #5d6280;
  font-size: 15px;
}
/* .icons a:hover {
  background-color: #211b43;
} */
.active {
  color: #211b43;
  /* display: flex;
  justify-content: center; */
}
footer {
  text-align: center;
  margin-top: 0%;
  margin-right: 20%;
  padding: 1px;
  color: #5d6280;
}
.icons {
  margin-left: 34px;
}
.social_links {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 15px;
  margin-left: 5%;
}
.social_links a {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #212431;
  color: white;
  padding: 10px;
  margin-right: 7px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social_links a:hover {
  background-color: #5b6181;
}
a {
  text-decoration: none;
}
#about .container {
  background-color: #01010c;
  border-radius: 10px;
  color: white;
  padding: 20px;
}
#about .details {
  margin-left: -55px;
  padding: 10px;
  width: 100%;
  margin-top: 45px;
}
.details li {
  width: 200px;
  list-style: square;
}

#content {
  margin-left: 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content {
  margin-left: 20px;
  padding: 20px;
}
.abou-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.img-content p {
  padding-top: 30px;
}
.img-content img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid;
  object-fit: cover;
  margin-left: 80px;
}
#img.resta {
  max-width: 80%;
}

#landing {
  background-image: url(./images/background-img-2.jpg);
  background-size: cover;
  color: #693a66;
  min-height: 100vh;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 6%;
}
#heading-1 {
  color: #01010c;
  font-size: 70px;
  font-family: "Water Brush", cursive;
}
h2 {
  font-family: "Kaushan Script", cursive;
}
#heading_2 {
  font-size: 40px;
}
#head1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  min-height: 100vh;
}

ul {
  list-style: none;
  padding-left: 2rem;
}

.column {
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 20px;
  columns: 2;
  column-gap: 80px;
  font-size: 16px;
}

.staff {
  position: relative;
}

.staff-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

.staff:hover .staff-details {
  opacity: 1;
}

.main-timeline {
  font-family: "Poppins", sans-serif;
  padding: 15px 0;
}
.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline {
  width: calc(50% + 1px);
  padding: 15px 0 0 15px;
  margin: 0 0 20px 5px;
  float: right;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content {
  color: #777;
  background-color: #e4eef0;
  min-height: 120px;
  padding: 35px 15px 15px 80px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-content:before {
  content: "";
  background-color: #01010c;
  height: 80%;
  width: calc(100% + 15px);
  border-radius: inherit;
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: -1;
}
.main-timeline .timeline-year {
  color: #fff;
  background-color: #01010c;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 5px 7px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 10px;
  top: 0;
}
.main-timeline .timeline-icon {
  color: #777;
  font-size: 40px;
  transform: translateY(-50%);
  position: absolute;
  left: 20px;
  top: 50%;
}
.main-timeline .title {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 3px;
}
.main-timeline .description {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 23px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even) {
  padding: 15px 15px 0 0;
  margin: 0 5px 20px 0;
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 35px 80px 15px 15px;
}
.main-timeline .timeline:nth-child(even) .timeline-content::before {
  left: auto;
  right: -15px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
  left: auto;
  right: 10px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content::before,
.main-timeline .timeline:nth-child(4n + 2) .timeline-year {
  background-color: #01010c;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content::before,
.main-timeline .timeline:nth-child(4n + 3) .timeline-year {
  background-color: #fb7e05;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content::before,
.main-timeline .timeline:nth-child(4n + 4) .timeline-year {
  background-color: #00a8d7;
}
.cards {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
  padding: 2em;
  width: 300px;
}
.card__image d {
  max-width: 60px;
}
.card img {
  object-fit: cover;
  right: 100%;
  max-width: 100%;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #01010c;
  border-radius: 0.75em;
  border: 1px solid #ffffff90;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.09),
    0 5px 4px 1px rgba(0, 0, 0, 0.15), 0 7px 10px -3px rgba(0, 0, 0, 0.17),
    0 10px 13px -4px rgba(0, 0, 0, 0.23), 0 16px 20px -4px rgba(0, 0, 0, 0.36);
  overflow: hidden;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.card__image {
  padding: 0.5em;
  display: flex;
}
.but-proj {
  display: flex;
  justify-content: center;
}

.card__content {
  display: grid;
  margin: 1em;
  justify-content: center;
}
.card__title {
  font-weight: 700;
  font-family: sans-serif;
  font-size: clamp(1.3rem, 2.5vw, 1.6rem);
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  font-family: "Kaushan Script", cursive;
}

.card__text {
  max-width: 50ch;
  color: rgba(255, 255, 255);
  margin-bottom: 1em;
}

.testimonial {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}
.testimonial .card {
  position: relative;
  margin: 0 auto;

  background: #01010c;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.jsno {
  height: 100%;
}
.testimonial .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#6d7089, #bd9caf);
  z-index: 1;
  transition: 0.5s;
}
.testimonial .card:hover .layer {
  top: 0;
}
.testimonial .card .content {
  position: relative;
  z-index: 2;
}
.testimonial .card .content p {
  font-size: 18px;
  line-height: 24px;
}
.testimonial .card .content .image {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.testimonial .card .content .details h2 {
  font-size: 18px;
}
.testimonial .card .content .details span {
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}
.testimonial .card:hover .content .details span {
  color: #fff;
}

.form-container {
  background-color: #01010c;
  font-family: "Titillium Web", sans-serif;
  font-size: 0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}
.form-container .title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 25px;
  font-family: "Kaushan Script", cursive;
}
.form-container .title:after {
  content: "";
  background-color: #6c757d;
  height: 3px;
  width: 60px;
  margin: 10px 0 0;
  display: block;
  clear: both;
}
.form-container .sub-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-family: "Kaushan Script", cursive;
}
.form-container .form {
  font-size: 0;
}
.form-container .form .form-group {
  color: white;
  width: 50%;
  margin: 0 0 15px;
  display: inline-block;
}
.form-container .form .form-group:nth-child(4) {
  margin-bottom: 30px;
}
.form-container .form .form-group label {
  font-size: 17px;
  font-weight: 600;
}
#contact .btn {
  margin-left: 45%;
}
.address {
  height: fit-content;
}
.address h5 {
  color: white;
}
.address h4 {
  color: white;
}
.address i {
  font-size: 30px;
  color: white;
}
#navicon:hover {
  color: white;
}
/* #social-row {
  margin: 0;
} */
div#social-link {
  position: relative;
  left: 80px;
}
@media (min-width: 768px) {
  #contact .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 460px) {
  #Testimonials {
    flex: 0 0 auto;
  }
}
@media only screen and (max-width: 479px) {
  .form-container .form-horizontal .form-group {
    width: 100%;
  }
  .form-container .signin-link {
    width: 100%;
    margin: 0 10px 15px;
  }
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 576px) {
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 65px 15px 15px 15px;
  }
  .main-timeline .timeline-icon {
    transform: translateY(0);
    top: 5px;
    left: auto;
    right: 15px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    transform: translateY(0);
    top: 5px;
    right: auto;
    left: 15px;
  }
}
@media (max-width: 1020px) {
  #content {
    width: 100%;
    margin-left: 0;
  }
  .navbar-nav {
    background-color: rgb(1, 1, 12);
  }
}
@media (max-width: 992px) {
  #navbar {
    background-color: transparent;
  }
  section {
    margin-left: 0%;
  }
}
@media (max-width: 995px) {
  #landing {
    margin-left: 0%;
  }
}
@media (max-width: 1020px) {
  main {
    margin-left: 0;
  }
}
@media (max-width: 1020px) {
  .column {
    display: flex;
  }
}
@media (max-width: 510px) {
  .abou-info {
    flex-wrap: wrap;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 370px) {
  #testimonials {
    width: 50%;
  }
}
